:root {
    --primary-color: #fce138; /* change all these!!!! */
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    padding: 20px 36px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 15px 15px;
    font-weight: lighter;
    font-size: 1.5vw;

}

/* hero section */
.hero {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    background-image: url("../images/black-white-concrete-background.jpg");
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    background-position: 100%;
    align-items: flex-end;
    width: 100%;
    height: 400px;
}

.hero h2 {
    font-style: normal;
    font-size: 55px;
    color: var(--tertiary-color);
    margin: 10px;
    border-bottom: dashed red;
}
/* about me */
.about-me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 500px; */
    margin: 10px 0;
}

.about-me > * {
    flex: 1;
    margin: 0 10px;
}

.me-self {
    font-weight: bold;
    font-size: 20px;
    /* background-color:crimson; */
    opacity: 90%;
    height: 100%;
    width: 80%;
    margin: 15px;
}
/* about me end */ 
.section-name {
    /* margin-right: 10%;
    margin-bottom: 25%; */
    height: 100%;
    width: 20%;
    border-right: 5px solid black;
    padding: 50px 25px;
}
.section-name h2  {
    width: 100%;
    text-align: center;
    font-size: 30px;
    border: 1px;
    
    margin: auto;
    display: block;
    padding: 5px 10px;
    
}






 /* my work */
.my-work {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-between;
    flex: 1;
    margin: 0 10px;
    

}
.run-buddy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-attachment: center;
    background-position: 80%;
    align-items: flex-start;
    
    
}
.run-buddy img {
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
}
.run-buddy h3 {
    font-size: 16px;
    position: relative;
}

.run-buddy h4 {
    font-size:  16px;
    position: relative;
}

.works  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* contact me */

.contact-me {
    background-color: greenyellow;
}